@tailwind base;
@tailwind components;
@tailwind utilities;


@import "react-alice-carousel/lib/alice-carousel.css";




h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
}




.video-popup::before{
    content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-6px,-9px);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid #fff;
}



  .underline-effect::after{
  display:inline-block;
    content: "";
    width: 40px;
    height: 2px;
    background: #f9004d;
    opacity: .75;
  float:right;
  }

   p .underline-effect:hover::after{
 
      width: 80px;
 
    }
  


.social-media-brand{
  border: 2px solid #9c9eab;
    border-radius: 50rem;
    padding: 14px;
    margin: 3px;
}

.social-media-brand:hover{
  border: 2px solid #e9162b;
}



    /*image zooming effect*/
  /* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
  transition: transform .5s ease-in-out;
  opacity:0.5;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(1.2) ;
  opacity:1.0;
}



/*image on hover color gradient effect*/
.img-gradient{
  position:relative;
  display:inline-block;
}

.img-gradient:hover::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%;
   height:100%;
  display:inline-block;
  background: linear-gradient(180deg,#fc004d 0,#000);
  opacity: .85;
}





/*Multiple careousel*/

.slider {
  margin:0 20px;
  overflow:"hidden";
  padding:2rem 0;
}

.slider:hover{
  padding:0rem 0;
}

.slider img {
  width: 100%;
  border-radius:10px;
}

.react-multi-carousel-list {
padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button{
border: none;
background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
background: rgb(255, 68, 68) !important;
}

.slider{
  height: 60vh !important;
}